# Virtual environment
.venv/

# Environment variables
.env

# Temporary folders
tmp/

qdrant_data/

Airi_created_files/
qdrant_data/

logs/

airi_browse_dir

test.py

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
ascii_art.txt

# Logs
*.log
