# Virtual environment
.venv/

# Environment variables
.env

# Temporary folders
tmp/

config.yaml

airi-tui/welcome_msg.yaml

qdrant_data/

Airi_created_files/
qdrant_data/
AiriMusicFolder

logs/

airi_browse_dir

test.py

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
ascii_art.txt

# Logs
*.log
